.container{
    display: flex;
    flex-wrap: wrap;
    grid-template-areas: "column1 column2";
    padding-left: 10vw;
    background-color: aliceblue;
    border-radius: 10px ;
    margin-top: 4vw;
    margin-bottom: 10vw;
    margin-left: 3vw;
    margin-right: 3vw;

}

.column1{
    grid-area: column1;
    text-align:left;
    padding-top: 7vw;
}

.column2{
    border-radius: 10px;
    background-color: aliceblue;
    padding-left:6vw;
    padding-top:1vw;
    padding-bottom:1vw;
    grid-area: column2;
    display: flex;
    justify-content: start;
    margin-left: 6vw;

}

.container2{
    display: grid;
    grid-template-areas: "column1-2 column2-2";
}

.column1-2{
    grid-area: column1-2;
}

.column2-2{
    grid-area: column2-2;
    padding-right: 6vw;
}

h1{
    text-align: left;
}

@media screen and (max-width: 800px) {
    .container{
        grid-template-areas: "column1"
                             "column2";
    }
    
    .column2{
        display: flex;
        justify-content: center;
        margin-top: 18px;
    }
    .column1{
        margin-top: 5vh;
        
    }
    p{
        text-align: left;
    }
}